<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.openai.chatgpt" />
        <package android:name="com.google.android.apps.bard" />
        <package android:name="com.anthropic.claude" />
        <package android:name="ai.perplexity.app.android" />
    </queries>
</manifest>
